@import 'fonts';
@import 'vars';
@import 'global';


/************************************HEADER_START************************************/
.header__top-inner{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 25px;
    color: #546e7a;
    font-size: 15px;
    line-height: 24px;
    span{
        color: $red;
    }
}
.header__box{
    .header__btn{
        padding: 9px;
        width: 72px;
        border-radius: 4px;
        text-align: center;
        color: #fff;
        font-size: 12px;
    }
    .header__btn:nth-child(2){
        background-color: $green;
        margin-right: 7px;
    }
    .header__btn:nth-child(3){
        background-color: $red;
    }
}
.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
        a{
            color: #fff;
            font-size: 14px;
            line-height: 30px;
            font-weight: 500; 
        }
    }
}
/************************************HEADER_END************************************/

/************************************SEARCH_START************************************/
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 533px;
}
.search__inner{
    padding: 135px 0 100px;
    text-align: center;
    color: #fff;
    &-title{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 18px;
        line-height: 72px;
    }
    &-text{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        width: 100%;        
        margin: 0 auto;
        position: relative;  
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            height: 56px;
            border-radius: 4px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color: #90a4ae;
            }
        }
        button{
            position: absolute;
            border:none;
            background-color: transparent;
            right: 20px;
            top: 16px;
            cursor: pointer;
        }
    }
}
/************************************SEARCH_END************************************/

/************************************HEADER_START************************************/
.products{
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: $grey;
    & button.mixitup-control-active{
        background-color: $red;
        color: #fff;
    }
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    font-size: 14px;
    button{
        font-weight: 500;
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    border: 1px solid #ebeeef;
    max-width: 442px;
    width: 100%;
    margin-bottom: 30px;
    &:hover{
        box-shadow: 0px 16px 20px 1px rgba(216, 216, 216, 0.75);
    }
    &-img{
        min-height: 250px;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 90px;
        font-weight: 500;
        color: $bg;
        border-bottom: 1px solid #ebeeef;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        display: block;
        font-size: 18px;
        margin-bottom: 12px;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price{
        font-weight: 700;
        font-size: 20px;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 70px;
        font-weight: 500;
    }
    &-author{
        span{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            margin-right: 14px;
        }
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    &-star{
        font-size: 12px;
        span{
            color: $bg;
        }
    }
}
.products__bottom-btn{
    margin-top: 45px;
    text-align: center;
    button{
        margin: 0px 5px;
        width: 163px;
        height: 52px;
        background-color: #fff;
        border: none;
        font-size: 16px;
        color: $bg;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        cursor: pointer;
    }
}
/************************************HEADER_END************************************/

/************************************PRODUCT-SLIDER_START************************************/
.product-slider{
    padding: 110px 0px 120px;
    .slick-dots{
        margin-top: 50px;
        text-align: center;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active{
                button{
                   background-color: $green; 
                }
            }
        }
        button{
            border-radius: 50%;
            background-color: #a8a5a5;
            border: none;
            font-size: 0;
            height: 16px;
            width: 16px;
            cursor: pointer;
            outline: none;
        }
    }
}
/************************************PRODUCT-SLIDER_END************************************/
