@import 'fonts';
@import 'vars';
@import 'global';


/************************************HEADER_START************************************/
.header__top-inner{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 25px;
    color: #546e7a;
    font-size: 15px;
    line-height: 24px;
    span{
        color: $red;
    }
}
.header__box{
    .header__btn{
        padding: 9px;
        width: 72px;
        border-radius: 4px;
        text-align: center;
        color: #fff;
        font-size: 12px;
    }
    .header__btn:nth-child(2){
        background-color: $green;
        margin-right: 7px;
    }
    .header__btn:nth-child(3){
        background-color: $red;
    }
}
.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
        a{
            color: #fff;
            font-size: 14px;
            line-height: 30px;
            font-weight: 500; 
        }
    }
}
/************************************HEADER_END************************************/

/************************************SEARCH_START************************************/
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 533px;
    padding: 135px 0 100px;

    &.search_new-items{
        min-height: 230px;
        padding: 63px 0px 67px;

        .search__inner-text{
            margin-bottom: 20px;
        }
    }
}
.search__inner{
    text-align: center;
    color: #fff;
    &-title{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 18px;
        line-height: 72px;
    }
    &-text{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        width: 100%;        
        margin: 0 auto;
        position: relative;  
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            height: 56px;
            border-radius: 4px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color: #90a4ae;
            }
        }
        button{
            position: absolute;
            border:none;
            background-color: transparent;
            right: 20px;
            top: 16px;
            cursor: pointer;
        }
    }
}
/************************************SEARCH_END************************************/

/************************************HEADER_START************************************/
.products{
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: $grey;
    & button.mixitup-control-active{
        background-color: $red;
        color: #fff;
    }
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    font-size: 14px;
    button{
        font-weight: 500;
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    border: 1px solid #ebeeef;
    max-width: 442px;
    width: 100%;
    margin-bottom: 30px;
    &:hover{
        box-shadow: 0px 16px 20px 1px rgba(216, 216, 216, 0.75);
    }
    &-img{
        min-height: 250px;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 90px;
        font-weight: 500;
        color: $bg;
        border-bottom: 1px solid #ebeeef;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        display: block;
        font-size: 18px;
        margin-bottom: 12px;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price{
        font-weight: 700;
        font-size: 20px;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 70px;
        font-weight: 500;
    }
    &-author{
        span{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            margin-right: 14px;
        }
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    &-star{
        font-size: 12px;
        span{
            color: $bg;
        }
    }
}
.products__bottom-btn{
    margin-top: 45px;
    text-align: center;
    button{
        margin: 0px 5px;
        width: 163px;
        height: 52px;
        background-color: #fff;
        border: none;
        font-size: 16px;
        color: $bg;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        cursor: pointer;
    }
}
/************************************HEADER_END************************************/

/************************************PRODUCT-SLIDER_START************************************/
.product-slider{
    padding: 110px 0px 120px;
    .slick-dots{
        margin-top: 50px;
        text-align: center;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active{
                button{
                   background-color: $green; 
                }
            }
        }
        button{
            border-radius: 50%;
            background-color: #a8a5a5;
            border: none;
            font-size: 0;
            height: 16px;
            width: 16px;
            cursor: pointer;
            outline: none;
        }
    }
}
/************************************PRODUCT-SLIDER_END************************************/

/************************************ADVANTAGES-SLIDER_START************************************/
.advantages{
    background-color: $bg;
    padding: 110px 0px;

    &__title{
        color: #fff;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
    }

    &__item{
        max-width: 370px;
        text-align: center;
        padding: 0px 15px;
        svg{
            transition: all 0.4s;
        }
        &:hover{
            .advantages__item-img{
                background-color: $green;
                svg{
                    fill: #fff;
                }
            }

            .advantages__item-title{
                color: $green;
            }
        }
        &-img{
            width: 114px;
            height: 114px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 30px;
            transition: all 0.4s;
        }
        &-title{
            margin-bottom: 25px;
            font-size: 24px;
            color: #fff;
            font-weight: 500;
            transition: all 0.4s;
        }
        &-text{
            font-size: 15px;
            color: #b0bec5;
        }
    }
}
/************************************ADVANTAGES-SLIDER_END************************************/

/************************************AUTHOR-SLIDER_START************************************/
.author{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{ 
        max-width: 653px;
        width: 100%;
        height: 216px; 
        background-color: $green;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title{
        font-size: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 260px;
        span{
            font-weight: 700;
        }
    }
    &__link{
        background-color: #fff;
        width: 225px;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: $bg;
    }
}
/************************************AUTHOR-SLIDER_END************************************/

/************************************TUTORIAL_START************************************/
.tutorial{
    padding: 69px 0px 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;

        &-img{
            min-height: 270px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &-title{
            background-color: #fff;
            font-size: 24px;
            text-align: center;
            color: $bg;
            padding: 30px 10px;
            font-weight: 700;
        }
    }
}
/************************************TUTORIAL_END************************************/

/************************************FOOTER_START************************************/
.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 80px;
    }

    &__col{
        max-width: 270px;
        width: 100%;
        &-menu{
            max-width: 220px;
        }

        &-title{
            font-size: 22px;
            @include fonts-footer;
            color: #fff;
            padding-bottom: 30px;
            margin-bottom: 31px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 2px;
                width: 51px;
                height: 3px;
                background-color: $green;
            }
        }

        &-text{
            font-size: 15px;
            color: #b7c3c8;
            margin-bottom: 30px;
        }

        &-list{
            font-size: 15px;
            a{
                color: #b7c3c8;
            }
            li{
                padding-left: 20px;
                margin-bottom: 25px;
                position: relative;
                &::before{
                    position: absolute;
                    content: '\f105';
                    font-family: 'icomoon';
                    font-size: 18px;
                    left: 0;
                    transform: translateY(-20%);
                    color: $green;
                }
            }
        }
    }

    &__info{
        margin-top: 18px;
        font-weight: 500;
        color: #fff;
        padding-left: 30px;
        position: relative;
        &::before{
            content: '\f041';
            font-family: 'icomoon';
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
        &-phone{
            &::before{
                content: '\f095';
            }
        }
    }
}
.footer__copy{
    border-top: 1px solid #424d53;
}
.footer__copy-text{
    text-align: center;
    font-size: 15px;
    color: #697378;
    padding: 25px 0;
}
.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
        & + li{
            margin-left: 7px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url('../img/footer/css_sprites (1).png');
    }
}
.link-facebook {
    background-position: -56px 0;
}
.link-twiter {
    background-position: 0 0;
}
.link-youtube {
    background-position: -28px 0;
}
.link-pinterest {
    background-position: 0 -28px;
}
.link-linkid {
    background-position: -28px -28px;
}
.footer__form{
    &-title{
        font-size: 20px;
        color: #fff;
        margin-bottom: 15px;
    }

    input{
        border: none;
        background-color: #2f3c43;
        display: block;
        height: 40px;
        width: 100%;
        font-size: 14px;
        color: #fff;
        padding-left: 13px;
        padding-right: 50px;
        &::placeholder{
            font-size: 14px;
            color: #697378;
        }
    }
    form{
        position: relative;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before{
            content: '\f124';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 20px;
            top: 25%;
            right: 25%;
            transform: translateX(-25%);
        }
    }
}
/************************************FOOTER_END************************************/


/************************************NEW-ITEMS************************************/
/************************************PRODUCT-PAGE_START************************************/

.product-page{
    background-color: $grey;
    &__inner{
        display: flex;
        padding-bottom: 110px;
    }

    &__aside{
        margin-right: 30px;
    }
}
.aside__item{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 32px 32px;
    margin-bottom: 30px;
    max-width: 270px;
}
.aside__title{
    border-bottom: 1px solid #dde3e8;
    font-size: 20px;
    font-weight: 700;
    color: $bg;
    padding-top: 22px;
    padding-bottom: 20px;
}
.category{
    &__list{
        padding-top: 10px;
        li{
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            position: relative;
            &::before{
                position: absolute;
                content: '\f105';
                left: 0;
                font-family: 'icomoon';
                font-size: 14px;
                color: $green;
            }
        }
        a{
            color: $bg;
            font-weight: 500;
            font-size: 15px;
        }
        span{
            font-size: 15px;
            color: #90a4ae;
            margin-left: 10px;
        }
    }
}
.price-range{
    form{
        padding-top: 20px;
        padding-bottom: 25px;
    }
    button{
        margin-top: 55px;
        padding: 16px 10px;
        background-color: $green;
        text-align: center;
        color: #fff;
        font-weight: 500;
        border: none;
        display: block;
        width: 100%;
        cursor: pointer;
        position: relative;
        &::before{
            position: absolute;
            content: '\f002';
            color: #fff;
            font-size: 15px;
            left: 58px;
            font-family: 'icomoon';
            top: 15px;
        }
    }
    .irs-min,
    .irs-max{
        display: none;
    }
    .irs-line{
        height: 5px;
        border-radius: 5px;
        background-color: #f2f5f8;
    }
    .irs-bar{
        background-color: #37474f;
        height: 5px;
        border-radius: 5px;
    }
    .irs-from,
    .irs-to{
        top: 45px;
        color: #78909c;
        font-size: 15px;
        background-color: transparent;
        &::before{  
            display: none;
        }
    }
    .irs-handle,
    .irs-handle{
       width: 16px;
       height: 16px;
       border: 4px solid $green;
       background-color: #fff;
       border-radius: 50%;
       top: 19px;
       &>i:first-child {
           display: none;
       }
    }
    .irs-single{
        display: none;
    }  
}
.aside__product-item{
    .product__item:last-child{
        border-bottom: 1px solid transparent;
    }
    .product__item:first-child{
        margin-bottom: 25px;
    }
}
.product-page__aside{

    .product__item{
        border: none;
        width: 208px;
        padding-bottom: 26px;
        border-bottom: 1px solid #dde3e8;
        &:hover{
            box-shadow: none;
        }
    }
    .product__item-img{
        min-height: 120px;
    }
    .product__item-content{
        border: none;
        padding: 0;
        min-height: 75px;
    }
    .product__item-info{
        padding: 0;
        min-height: 0;
    }
    .product__item-title{
        font-size: 16px;
        font-weight: 700;
        color: $bg;   
    }
    .product__item-price{
        font-size: 16px;
    }
    .rate-star{
        margin-right: 0;
    }
    .product__item-author>span{
        min-width: 30px;
    }
    .top-sellars__link{
        margin-top: 55px;
        padding: 16px 10px;
        background-color: $green;
        text-align: center;
        color: #fff;
        font-weight: 500;
        border: none;
        display: block;
        width: 100%;
        cursor: pointer;
    }
    .jq-ry-container{
        padding-right: 0;
    }
}
.product-page__filter{
    background-color: #fff;
    padding: 0px 20px;
    border: 1px solid #dedede;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        padding: 0px 10px;
    }
    & div:first-child>button:first-child{
        color: $bg;
    }
    &>div{
        display: flex;
        align-items: center;
    }
    & button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 16px;
        color: #707070;
        &.active{
            color: $green;
        }
    }      
}
.product-page__content{
    width: 100%;
}
.product-page__items{
    margin-bottom: 30px;
    .product__item{
        max-width: 270px;
        background-color: #fff;
        &:hover .product__item-img{
            transform: scale(0.995);
        }
        &-img{
            min-height: 180px;
        }
        .jq-ry-container{
            padding-right: 0;
            margin-right: 8px;
        }
        &-content{
            padding: 10px 20px;
        }
        &-title{
            font-size: 16px;
        }
        &-info{
            min-height: 65px;
            padding: 10px 20px;
        }
    }
}
.pagination{
   &__list{
       li{
           display: inline-block;
           & + li {
               margin-left: 6px;
           }
       }
       a,
       span{
            box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
            width: 43px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            font-weight: 500;
            color: $bg;
            font-size: 16px;
            cursor: pointer;
            &.active{
                background-color: $red;
                color: #fff;
            }   
       }
   }         
}
.product__item-price span{
    display: none;
}
.product__item-text{
    display: none;
}
.product__item-list{
    font-size: 16px;
    display: none;
    color: $bg;
    a{
        color: $bg;
        padding-left: 50px;
        padding-right: 30px;
        border-left: 1px solid #546e7a; 
    }
    span{
        display: inline-block;
        padding-left: 50px;
        border-left: 1px solid #546e7a;
    }
}
.product-page__items{
    .product__item{
        transition: all .5s;
        &.list{
            max-width: 100%;
            .product__item-img{
                min-height: 100%;
                width: 240px;
                float: left;
            }
            .product__item-text{
                display: block;
                font-size: 14px;
                color: #70838d;
                margin-top: 15px;
                margin-bottom: 5px; 
            }
            .product__item-price{
                font-size: 30px;
                span{
                    display: block;
                    font-size: 13px;
                    color: #aeb4bb;
                    margin-top: 15px;
                }
            }
            .product__item-name{
                max-width: 480px;
            }
            .product__item-content{
                padding-top: 23px;
            }
            .product__item-title{
                color: #000;
            }
            .product__item-list{
                display: block;
            }
            .product__item-star{
                margin-left: auto;
                margin-right: 30px;
            }
        }
    }
}
/************************************PRODUCT-PAGE_END************************************/
/************************************NEW-ITEMS************************************/


